<!--aside nav-->
<aside class="lt_aside_nav content mCustomScrollbar">
 <ul>
  <li>
   <dl>
    <dt id="xuexiao"><a href="{:url('Lst/school')}">选择学校</a></dt>
    <!--当前链接则添加class:active-->
<!--    <div id="xuexiao1" style="display: none">
    <dd><a href="#" class="active">北京大学</a></dd>
    <dd><a href="#">天津大学</a></dd>
    <dd><a href="#">其他大学</a></dd>
    </div>
-->
   </dl>
  </li>
  <li>
   <dl>
    <dt id="zhuanye"><a href="{:url('Lst/major')}">选择专业</a></dt>
<!--    <div id="zhuanye1" style="display: none">
    <dd><a href="#">软件工程</a></dd>
    <dd><a href="#">计算机科学与技术</a></dd>
    </div>
-->
   </dl>
  </li>
  <li>
   <dl>
    <dt id="daoshi"><a href="{:url('Lst/teacher')}">选择导师</a></dt>
<!--    <div id="daoshi1" style="display: none">
    <dd><a href="#">刘雨森</a></dd>
    <dd><a href="#">刘雨鑫</a></dd>
    <dd><a href="#">刘雨焱</a></dd>
    <dd><a href="#">刘雨淼</a></dd>
    </div>
-->
   </dl>
  </li>
 </ul>
</aside>