<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8"/>
<title>导师评价系统</title>
<meta name="author" content="TJU" />
<link rel="stylesheet" type="text/css" href="__PUBLIC__/static/index/css/style.css">
<link rel="stylesheet" href="__PUBLIC__/static/index/css/bootstrap.css" />
<script src="__PUBLIC__/static/index/js/jquery.js"></script>
<script src="__PUBLIC__/static/index/js/bootstrap.js"></script>
<script src="__PUBLIC__/static/index/js/jquery.mCustomScrollbar.concat.min.js"></script>
<script>

	(function($){
		$(window).load(function(){
			$("a[rel='load-content']").click(function(e){
				e.preventDefault();
				var url=$(this).attr("href");
				$.get(url,function(data){
					$(".content .mCSB_container").append(data); //load new content inside .mCSB_container
					//scroll-to appended content 
					$(".content").mCustomScrollbar("scrollTo","h2:last");
				});
			});
			
			$(".content").delegate("a[href='top']","click",function(e){
				e.preventDefault();
				$(".content").mCustomScrollbar("scrollTo",$(this).attr("href"));
			});
			$("#xuexiao").click(function(){
                   $("#xuexiao1").toggle();
            });
            	$("#zhuanye").click(function(){
                   $("#zhuanye1").toggle();
            });
            	$("#daoshi").click(function(){
                   $("#daoshi1").toggle();
            });
		});
	})(jQuery);
</script>
</head>
<body>
<!--header-->
{include file="Public/header" /}
<!--aside nav-->
{include file="Public/aside" /}
{include file="Public/footer" /}
<style>
.dataStatistic{width:400px;height:200px;border:1px solid #ccc;margin:0 auto;margin:10px;overflow:hidden}
#cylindrical{width:400px;height:200px;margin-top:-15px}
#line{width:400px;height:200px;margin-top:-15px}
#pie{width:400px;height:200px;margin-top:-15px}
</style>
</body>
</html>
